.side {
    background: var(--mantine-color-dark-8);
    align-items: center;
    height: 100%;
}

.cancel {
    margin-top: 10px;
    width: 100%;
}

.edit, .save {
    margin-top: 20px;
    width: 100%;
}