.card {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
}

.eventSection {
    width: 100%;
    background: var(--mantine-color-dark);
    padding: 20px;
}

.titleSection{
    background: var(--mantine-color-dark);
    height: 60%;
}

.buttonSection {
    width: fit-content;
    display: flex;
    align-items: center;
    padding: 10px;
    background: var(--mantine-color-dark);
}

.button {
    width: 150px;
}

.title {
    align-tracks: start;
}

.frame {
    margin: auto;
    width: 700px;

    @media (max-width: 1050px) {
        width: 100%;
    }
}