
.side {
    background: var(--mantine-color-dark-6);
    margin: auto;
    width: 50%;
    align-items: center;

    @media (max-width: 1000px) and (min-width: 650px) {
        width: 75%
    }

    @media (max-width: 650px) {
        width: 100%;
    }
}

.save {
    margin-top: 20px;
    width: 100%;
}